*
{
	padding: 0;
	margin: 0;
}

#title-label
{
	color: #c0c0c0;
	font-size: 16px;
	margin-top: 10px;
	font-family: "Ubuntu", sans-serif;
	padding: 10px;
	border-radius: 10px;
}

#meet
{
	font-family: 'Arial', sans-serif;
	font-size: 2rem;
	font-weight: bold;
	color: #8677cf;
	margin-right: 30px;
}

#end
{
	
	background: white;
}

#box1
{
	border: 12px solid #6B5EA7;
	border-radius: 12px;
	background: #6B5EA7;
        margin-bottom: 5px;
}

#lb1
{
	font-size: 16px;
	color: #E4E4DE;
	margin-bottom: 5px;
}

#sub1
{
	font-size: 14px;
	color: #252241;
}

#text-box
{
	margin-left: 30px;
	margin-right: 30px;
}

#subtitle-label
{
	color: #c0c0c0;
	font-size: 16px;
	margin-top: 10px;
	font-family: "Ubuntu", sans-serif;
	padding: 10px;
	border-radius: 10px;
}

#image
{
	margin-left: 20px;
}

#new-label
{
	font-size: 50px;
}

#title-label span.highligh {
	background: linear-gradient(to right, orange, purple);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


#bora {
    background: white;
    color: #252241;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid #00aaff;
}

/* Efeito hover no botão */
#bora:hover {
    background-color: #00aaff;
    color: #ffffff;
}

#page_info
{
	background: #252241;
}


#not
{
	background: #252241;
}

#page
{
	background: #252241;
}

#page1
{
	background: #252241;
}

#box
{
	border-radius: px;
	background: #252;
}

#page2
{
	background: #252241;
}

#content_area
{
	padding: 10rem;
	padding-left: 630rem;
	background: transparent;
	padding: 6px;
}

#label
{
	color:white;	
}

#version
{
	color:#9b9b9b;
}

tab
{
	padding: 0px 8px 0px 8px;
	margin: 0;
}

notebook
{
	background-color: #e0f7fa;
	padding: 2px;
}

notebook tab
{
	background-color: #252241;
	color: white;
	padding: 5px;
}

notebook tab:checked
{
	background-color: #141121; 
}

notebook tab label
{
	padding: 0 3rem;
}

notebook > header.bottom > tabs
{
	background-color: #252241;
}

headerbar
{
	background: #252241;
	padding: 0 1rem;
}
